<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
        href="{{url_for('static',filename='style.css')}}"
    </head>
    <body>
        <h1>User Management System</h1>
        <hr>
        <h2>Add User</h2>
        <form method="POST" action="/add">
            <label>Name:</label><br>
            <input type="text" name="name"><br><br>
            <label>Email:</label><br>
            <input type="email" name="email"><br><br>
            <label>Age:</label><br>
            <input type="number" name="age"><br><br>
            <button type="submit">Add User</button>
        </form>
        <hr>
        <h2>All Users</h2>
        <table boarder="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{user[0]}}</td>
                <td>{{user[1]}}</td>
                <td>{{user[2]}}</td>
                <td>{{user[3]}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>